<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bdqn.springmvc.mapper.ProductMapper">
    <select id="selectAll" resultType="cn.bdqn.springmvc.entity.Products">
        select * from easybuy_product
    </select>
    <select id="selectProductByPage" resultType="cn.bdqn.springmvc.entity.Products">
        select * from easybuy_product limit #{firstResult} , #{pageSize}
    </select>

    <select id="selectCount" resultType="int">
        select count(*) from easybuy_product
    </select>

</mapper>